<div class="accordion" id="accordionExample">

    <!-- <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Lorem ipsum ...
        </div>
      </div>
    </div> -->

    <div class="card mx-auto" align="center" style="max-width: 30rem">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Data options
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">

            <!-- Option 1 - url -->
            <div class="form-group">
                <input type="text" class="form-control text-center" name="input_url" id="formGroupExampleInput" placeholder="Enter a Google Sheets url">
                <small id="formHelp" class="form-text text-muted"><a href=https://www.google.com/search?q=how%20to%20publish%20google%20sheets>See how to publish a Sheet</a>. It's ok to leave it blank.  The button will still work.</small>
            </div>
            <br>
        </div>
      </div>
    </div>


  </div>
